@media only screen and (max-width: 568px) {
    .logo{
        font-size: 1rem;
        margin: 2rem;
    }
    .nav-menu{
        display: none;
    }
}

@media (min-width: 568px){
    .navbar a{
        display: none;
    }
    .navbar a.icon{
        display: none;
    }
    .mobile-container{
        display: none;
    }
}